<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Grocery List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

</head>
<body>
<div class="container-fluid text-center">
  <div><h2>Shan's Grocery List</h2></div>
  <div class="m-2">
    <a class="h3" th:href="@{/groceries/new}">Add to List</a>
  </div>
  <div>
    <table class="table table-bordered">
      <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Price</th>
        <th>Store</th>
        <th>Bought</th>
        <th>Edit Or Delete</th>
      </tr>
      </thead>
      <tbody>
      <!-- grocery list items here -->
      <th:block th:each="groceries : ${listGroceries}"> <!-- groceries is a variable name for the list (list in grocery controller) -->
        <tr>
          <td>[[${groceries.id}]]</td>
          <td>[[${groceries.product}]]</td>
          <td>[[${groceries.price}]]</td>
          <td>[[${groceries.store}]]</td>
          <td>[[${groceries.bought}]]</td>
          <td>
            <a class="h4 mr-3" th:href="@{'/groceries/edit/' + ${groceries.id}}">Edit</a>
            <a class="h4" th:href="@{'/groceries/delete/' + ${groceries.id}}">Delete</a>
          </td>
        </tr>



      </th:block>
      </tbody>
    </table>
  </div>
<!--  <a class="h2" th:href="@{/GroceryService/manage-users}">Manage Users</a>-->
</div>
</body>
</html>
